
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-image: url("../resources/logo.png");
    -fx-background-position: top left;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100px;
}

