.checkbox input[type=checkbox]:focus + label::before,
.checkbox input[type=radio]:focus + label::before {
    outline: none;
}
.checkbox label{
    wrap-option: true;
    word-wrap: normal;
    text-wrap: normal;
}
