.root {
    -fx-background-image: url("../resources/coolBackground.jpg");
}

.label{
    -fx-text-fill: lightblue;
}

.button
{

    -fx-background-color:  #64DAB6;
    -fx-background-radius: 50;
    -fx-background-insets: 0;
    -fx-text-fill: black;

}









